{% extends "base.html" %}

{% block body %}
<div class="container">
    <form action="/questions/" method="post">{% csrf_token %}
        <label for="exampleDataList" class="form-label">Subjects</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" name="subject" placeholder="Search for Physics chemistry biology">
        <datalist id="datalistOptions">
          <option value="biology">
          <option value="physics">
          <option value="chemistry">
        </datalist>
        <button type="submit" class="btn btn-primary my-3">Answer the questions</button>
    </form>
    <form action="/posted/" method="post">{% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Ask The Query</label>
            <input type="text" class="form-control my-3" name="heading" placeholder="Enter the heading">
          <textarea class="form-control" id="exampleFormControlTextarea1" name="problem" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary my-3">Answer the questions</button>
    </form>
</div>
{% endblock body %}